# Bot Settings
bot.token=BOT_TOKEN

# REST Spring Settings
spring.application.name=AssistantREST

# Database Settings
spring.datasource.url=jdbc:postgresql://SERVER_IP:CONTAINER_PORT/DATABASE_NAME
spring.datasource.username=DATABASE_USERNAME
spring.datasource.password=DATABASE_PASSWORD
spring.datasource.driver-class-name=org.postgresql.Driver

# Logging Settings
logging.level.root=INFO
logging.file=logs/myapp.log