/bin/

# This directory contains the student attendace
# its not relevant to the program, only once when
# using the attendance software integrated in the services package

assets/attendance/
assistant/logs

# Ignore the credentials json file
# If you plan to test the application, you have to setup
# a credentials json file just like the credentials-example.json

credentials.json

# Ignore the bot token file. You DO NOT want to expose
# the token since it can make the application vulnerable
# For testing purposes, if you plan to test the bot you have to follow the bot-token-example.tkn

bot-token.tkn
bot-token-unused.tkn

/target/

# Ignore all the properties files
*.properties

/init